

.border{
	border-right: 1px solid #c0c0c0;
	height:100vh;
	padding: 0 !important;
    margin: 0 !important;
}

.heading1{
	background-color: #2c475c;
	padding:10px 0 10px 15px;
	color: #FFF;
}

.bottomBorder{
	border:1px solid #c0c0c0;
}

.heading2{
	background-color: #2c475c;
	padding:10px 0 10px 15px;
	color: #FFF;
}

.heading3{
	background-color: #2c475c;
	padding:10px 0 12px 15px;
	color: #FFF;
}


.hfont{
	font-size: 130%;
}

.agentRows{
	&:hover{
		cursor :pointer;
	}
}

.user{
	float:right;
	border:1px solid #c0c0c0;
	background-color:#0080ff;
	color:#FFF;
	padding:5px 6px 5px 6px;
	display: block;
	border-radius: 0.5em 0 0.5em 0.5em;
	margin:0 !important;
}


.bot{
	float:left;
	background-color:#c0c0c0;
	color: #000;
	display: block;
	padding:5px 6px 5px 6px;
	border-radius:0 0.5em 0.5em 0.5em;
	margin : 0 !important;
}

.userDiv{
	margin-bottom:2px;
}

.botDiv{

}

.chatDiv{
	overflow-x: hidden;
	overflow-y: hidden;
}

.chat,.sessionDiv{
	height: 84vh;
	overflow-y: auto;
overflow-x: hidden;
}
.chat{
	margin-top: 5px;
}

.sessionDiv{
	height: 84vh;
}

.usertime{
	float: right;
}

.bottime{
	float: left;
	
}

.time{
	padding-left:8%;
}

.agentDiv{
	padding-left: 0 !important;
	padding-right: 0 !important;
   	margin: 0 !important;
	border:1px solid #c0c0c0;
	padding-top:8px;
	&:hover{
		cursor:pointer;
	};
}

.agentDivHeading,.agentRowshead,.timehead{
	padding-top: 5px;
	padding-bottom: 4px;
   	margin: 0 !important;
}


.buttonclass{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	color:#FFF;
	background-color:#0080ff;
	&:hover{
		cursor:pointer;
	};
}

.rightChevron,.downChevron{
	float: right;
	color: #c0c0c0;
}

.style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c0c0c0;
}

@media screen and (min-width: 1300px){
	.usertime{
		margin-right: -3%;
	}
}





